#blockly {
    position: fixed;
    bottom: 10px;
}
#visualization {
    position: relative;
}
#capacityBubble {
    position: absolute;
    margin-top: -0.5em;
    left: 10px;
    top: 375px;
    width: 380px;
}
html[dir="RTL"] #capacityBubble {
    left: auto;
    right: 10px;
}
#capacity {
    display: none;
    color: #fff;
    padding: 5px 1em;
    border-radius: 15px;
    background-color: rgba(64,64,64,0.7);
    font-size: large;
}
.capacityNumber {
    font-weight: bold;
}
#sampleOneTopBlock {
    height: 80px;
    width: 250px;
}
#pegSpin {
    height: 50px;
    width: 49px;
    background-position: -343px 0px;
    margin-top: 10px;
    position: absolute;
}
html[dir="RTL"] #pegSpin {
    background-position: -441px 0px;
}

.helpMenuFake {
    border-radius: 4px;
    background-color: #bfcdde;
    color: #000;
    padding: 0 1ex;
    cursor: default;
}
img[src$="help_up.png"] {
    margin: -20px 10px 0;
    height: 64px;
    width: 23px;
}
img[src$="help_down.png"] {
    margin: 0 10px -20px;
    height: 64px;
    width: 23px;
}

#svgMaze {
    overflow: hidden;
}

/* 'Look' icon */
#look>path {
    display: none;
    fill: none;
    stroke-width: 10;
    stroke-linecap: round;
    stroke-opacity: 0.7;
}

/* Buttons */
button.primary {
    /* Can't use "text-align: start" due to IE. */
    text-align: left;
}
html[dir="RTL"] button.primary {
    text-align: right;
}

/* Sprited icons. */
.icon21 {
    height: 21px;
    width: 21px;
    background-image: url(maze-icons.png);
}
.link {
    background-position: 0px 0px;
}
.run {
    background-position: 0px -21px;
}
.stop {
    background-position: -21px -21px;
}

#sortArray {
    width: 400px;
    height: 200px;
    position: relative;
}

.arrayElement {
    position: absolute;
    top: 20px;
    box-sizing: border-box;
    margin-left: -20px;
    width: 40px;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #555;
    background-color: #ffffcc;
    font-weight: bold;
    transition: all .5s ease-in-out;
}

.arrayElement.large {
    top: 10px;
    margin-left: -30px;
    width: 60px;
    font-size: 30px;
    line-height: 60px;
}

#positionMarker {
    position: absolute;
    width: 0px;
    height: 0px;
    top: 80px;
    margin-left: -20px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #555;
    transition: all .5s ease-in-out;
}

#positionMarker:before, #positionMarker:after {
    content: '?';
    display: none;
    margin-left: -30px;
    width: 10px;
    text-align: center;
}

#positionMarker:after {
    margin-left: 20px;
}

#positionMarker.left:before, #positionMarker.right:after {
    display: block;
}